* 
    box-sizing: border-box

body 
    font-family: 'Museo Sans Light'
img
    max-width: 100%    
.container
    max-width: 1170px
    margin: 0 auto
@media(max-width: 1200px)
    .container
        width: 760px 
        width: 85%  
@media(max-width: 768px)
    .container
        width: 450px  
        width: 85%         
       
button
    border-radius: 10px
    background-color: $main-color
    border: none
    padding: 18px 30px
    font-weight: 700
    font-size: 16px
    &:hover
        background-color: lighten($main-color, 10%)
        cursor: pointer
.section
    padding: 90px 0    
    &-title
        font-size: 24px
        font-weight: 700
        line-height: 35px
    &-subtitle
        font-size: 16px
        font-weight: 300

.input
    border: 1px solid $border-input    
    padding: 20px 26px
    font-size: 15px
    border-radius: 10px
        
